In [58]:
import numpy as np
import pandas as pd

In [59]:
data = pd.read_csv('sample_data.csv')

In [60]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [61]:
# Step1: Create train, test
# verification, validation, test

# data -- split 2 parts train, test theo ty le 8:2, 75:25, 7:3 
# dùng hàm train_test_split để chia ra 2 tập
from sklearn.model_selection import train_test_split

In [62]:
data_train, data_test = train_test_split(data, test_size = 0.2, random_state = 2020)

# chia theo kieu ngau nhien
# so random_state giup cho viec chia duoc giu nguyen -- chon so nao cung duoc

In [63]:
data_train.head()

      User ID  Gender  Age  EstimatedSalary  Purchased
128  15722758    Male   30            17000          0
350  15800515  Female   38           113000          1
9    15727311  Female   35            65000          0
28   15744529    Male   29            43000          0
214  15622478    Male   47            43000          0

In [64]:
# data train
# raw data --> 
X_train = data_train.iloc[:,[2,3]]

In [65]:
X_train

     Age  EstimatedSalary
128   30            17000
350   38           113000
9     35            65000
28    29            43000
214   47            43000
..   ...              ...
195   34            43000
118   40            59000
323   48            30000
392   45            45000
352   42            90000

[320 rows x 2 columns]

In [66]:
X_test = data_test.iloc[:,[2,3]]

In [67]:
X_test

     Age  EstimatedSalary
2     26            43000
190   24            84000
302   37           137000
257   40            57000
208   40           142000
..   ...              ...
229   42            80000
315   39            75000
242   50            88000
369   54            26000
34    27            90000

[80 rows x 2 columns]

In [68]:
# create X--feature, y--label
y_train = data_train['Purchased']
y_test = data_test['Purchased']

In [69]:
# X_train, X_test, y_train, y_test

# use X_train, y_train --> learn model
# after we have model --> dua X_test --> model --> return y_predict --> compare y_predict, y_test

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
model = LogisticRegression()

In [72]:
model.fit(X_train,y_train)

LogisticRegression()

In [73]:
y_predict = model.predict(X_test)

# lấy giá trị chính xác thì lấy predict

In [74]:
y_predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [75]:
y_predict_proba = model.predict_proba(X_test)

# Lấy giá trị đúng thì lấy probalily

In [76]:
# accuracy -- do chinh xac bao nhiêu %
# precision -- độ chính xác trên nhóm cần quan tâm --> dự đoán 10 người bị covid --> kiểm trên 8/10 -->precision 8/10
# recall -- 100 người bị covid chỉ có 2 người bị covid -- recall 2/100

In [77]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [78]:
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [79]:
model_scaled = LogisticRegression()

In [80]:
model_scaled.fit(X_train_scaled, y_train)

LogisticRegression()

In [81]:
y_predict_sc = model.predict(X_test_scaled)

In [82]:
y_predict_sc

array([1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0], dtype=int64)

In [83]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predict)

0.675

In [84]:
accuracy_score(y_test, y_predict_sc)

0.425